<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DingTalk Assistant Awesome!</title>
    <script src="scripts/vue-dev.js"></script>
    <link rel="stylesheet" href="styles/popup.css">
</head>
<body>
<div id="app">
    <div id="dingtalk">
            <span class="title">钉钉助手
                <a href="https://im.dingtalk.com" target="_blank" class="go-to-web-version">去网页版</a>
            </span>
    </div>

    <div id="tools">
        <div class="tools auto-login">
            <span>登录保持</span>
            <div v-if="loginStatusPersistence && !lspSwitchAnimation"
                 @click="notKeepLoginStatus"
                 class="switch on"></div>
            <div v-else-if="!loginStatusPersistence && !lspSwitchAnimation"
                 @click="keepLoginStatus"
                 class="switch"></div>
            <div v-else-if="loginStatusPersistence && lspSwitchAnimation"
                 @click="notKeepLoginStatus"
                 class="switch on animation"></div>
            <div v-else-if="!loginStatusPersistence && lspSwitchAnimation"
                 @click="keepLoginStatus"
                 class="switch off animation"></div>

        </div>
        <div class="tools">
            <span>钉钉全屏</span>
            <div v-if="fullScreen && !fsSwitchAnimation"
                 @click="offFullScreen"
                 class="switch on"></div>
            <div v-else-if="!fullScreen && !fsSwitchAnimation"
                 @click="onFullScreen"
                 class="switch"></div>
            <div v-if="fullScreen && fsSwitchAnimation"
                 @click="offFullScreen"
                 class="switch on animation"></div>
            <div v-else-if="!fullScreen && fsSwitchAnimation"
                 @click="onFullScreen"
                 class="switch off animation"></div>
        </div>
        <div class="tools">
            <span>截屏 {{snapshotShortcut.toString().replace(/,/g, '+') || ''}}</span>
            <div id="screen-shot"
                 @click="snapshot"
            >开始
            </div>
        </div>
        <!--<div class="tools" >-->
            <!--<span>主题</span>-->
            <!--<label id="theme-select">-->
                <!--<select @change="themeChanged" v-model="theme">-->
                    <!--<option value="original">原生</option>-->
                    <!--<option value="night">夜晚</option>-->
                    <!--<option value="dark-green">夜晚绿</option>-->
                    <!--<option value="light-green">原生绿</option>-->
                <!--</select>-->
            <!--</label>-->
        <!--</div>-->
        <!--        <div class="tools">-->
        <!--            <span>-->
        <!--                <a @click="sendMessage({bubble: 'hhhhhhhh'})">test</a>-->
        <!--            </span>-->
        <!--        </div>-->
    </div>

    <div :class="{dark: menuOn && menuClicked}"></div>
    <div :class="{menu:true, on: menuOn && menuClicked, off: !menuOn && menuClicked}">
        <div @click="clickMenu" class="img-wrapper">
            <img v-if="menuOn" src="assets/imgs/menu-white.svg"/>
            <img v-else src="assets/imgs/menu.svg"/>
        </div>

        <ul>
            <li>
                <span><a @click="openSettingPage">选项</a></span>
            </li>
        </ul>


        <div class="version-info">
            <!--<span id="author"><a>@EvinK</a></span>-->
            v{{version}}
        </div>
    </div>

</div>
<script src="scripts/utils.js"></script>
<script src="scripts/popup.js"></script>
</body>
</html>
